@model IEnumerable<To_Do_App.Models.TaskToDo>

@{
    ViewData["Title"] = "Index";
}

<h1>@*Index*@ </h1>

<p>
    <a class="remove-line" asp-action="Create">Add New Task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Task)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Task)
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@
            <td>
                <a class="remove-line" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="remove-line" asp-action="Details" asp-route-id="@item.Id">Description</a> |
                <a class="remove-line" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
